@import url('./style/slick.css');
@import url('./style/slick-theme.css');

img {
  padding: 0rem 1.29rem 0.64rem 0;
  float: left;
  width: 7.11rem;
  height: auto;
}

/* body {
  justify-content: center;
} */

#container {
  width: 80%;
  margin: auto;
  /* display: flex; */
}

#Item {
  
}

#Reviews {
  width:100%;
} 

#Store {

}
